.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock{
    padding: 10px;
    background-color:yellow;
    width: 150px;
    height: 50px;
}


